* {
	margin: 0;
	padding: 0;
}
body {
	font: 14px "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
		sans-serif;
	color: #fff;
}

a {
	outline: none;
	text-decoration: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}
.hidden{
	display: none;
}
#background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.bo {
	width: 100%;
}

.playlistBox {
	background: url(../../image/background_2.png) no-repeat center 0;
	height: 300px
}

.playListBox{
	position: fixed;
    bottom: 100px;
    width: 100%;
    height: 300px;
    zoom: 1;
    background-position: 0 0;
    background-repeat: repeat-x;
}

.ctrlbox {
	position:fixed;
	bottom: 0px;
	width:100%;
	height: 100px;
    zoom: 1;
    background-position: 0 0;
    background-repeat: repeat-x;
}

.player {
	width: 500px;
	height: 130px;
	padding: 25px;
	margin: 50px auto 30px;
	position: relative;
}
.ctrPlay {
	width:100%;
	padding-left: 25px;
	padding-right: 25px;
	position: relative;
}

.player .cover {
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #333;
	position: absolute;
	top: 25px;
	left: 25px;
	overflow: hidden;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	width: 130px;
	height: 130px;
	-moz-box-shadow: 0 2px 10px black;
	-webkit-box-shadow: 0 2px 10px black;
	-o-box-shadow: 0 2px 10px black;
	box-shadow: 0 2px 10px black;
}

#player .cover img {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	width: 130px;
	height: 130px;
}

.ctrPlay .ctrl {
	/* margin-left: 155px; */
	text-shadow: 0 1px 2px #000;
	line-height: 16px;
}

.ctrPlay .ctrl .tag strong, .ctrPlay .ctrl .tag span {
	display: block;
	text-overflow: ellipsis;
}

.ctrPlay .ctrl .tag{
	color:#fff;
}

.ctrPlay .ctrl .tag span {
	font-size: 12px;
	margin-top: 5px;
	color: #ccc;
}

.ctrPlay .ctrl .icon {
	display: inline-block;
	opacity: 1;
	cursor: pointer;
	width: 24px;
	height: 24px;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.ctrPlay .ctrl .icon:hover, .ctrPlay .ctrl .icon.enable {
	opacity: 1;
}

.ctrPlay .ctrl .icon:active {
	opacity: 0.3;
}

.ctrPlay .ctrl .control {
	margin-top: 10px;
	height: 25px;
}

.ctrPlay .ctrl .control .musiclist {
	background-image: url(../../media/musicPlayer/images/media-musiclist.png);
}

.ctrPlay .ctrl .control .rewind {
	background-image: url(../../media/musicPlayer/images/media-rewind.png);
}

.ctrPlay .ctrl .control .playback {
	background-image: url(../../media/musicPlayer/images/meida-play.png);
}

.ctrPlay .ctrl .control .playback.playing {
	background-image: url(../../media/musicPlayer/images/media-pause.png);
}

.ctrPlay .ctrl .control .fastforward {
	background-image: url(../../media/musicPlayer/images/media-fastforward.png);
}

.ctrPlay .ctrl .control .volume .mute {
	background-image: url(../../media/musicPlayer/images/volume-medium.png);
}

.ctrPlay .ctrl .control .volume .mute.enable {
	background-image: url(../../media/musicPlayer/images/volume-off.png);
}

.ctrPlay .ctrl .control .volume .slider {
	margin-top: 11px;
	margin-left: 10px;
	width: 100px;
}

.ctrPlay .ctrl .progress_1 {
	margin-top: 10px;
}

.ctrPlay .ctrl .progress_1 .timer {
	font-size: 12px;
	color: #ccc;
	margin-top: 8px;
}

.repeatShuffleBox{
}
.volumeBox{
}
.RewindBackFrowardBox{
	padding-left: 15px;
	padding-right: 15px;
}

.ctrPlay .ctrl .control .repeat, .ctrPlay .ctrl .control .shuffle {
	background-position: center bottom;
}

.ctrPlay .ctrl .control .all {
	background: url(../../media/musicPlayer/images/retweet.png) no-repeat center;
}

.ctrPlay .ctrl .control .once {
	background: url(../../media/musicPlayer/images/retweet.png) no-repeat center;
}
.ctrPlay .ctrl .control .enable {
	background:url(../../media/musicPlayer/images/media-shuffle.png) no-repeat center;
}

.ctrPlay .ctrl .control .repeat.once, .ctrPlay .ctrl .control .repeat.all
	{
	opacity: 1;
}

.ctrPlay .ctrl .control .repeat.once {
	position: relative;
}

.control{
	width: 298px;
	margin: 0 auto;	
	padding-left:1px;
}

.ctrPlay .ctrl .control .repeat.once:before {
	content: "1";
	position: absolute;
	top: 3px;
	right: -2px;
	font-size: 8px;
}

.ctrPlay .ctrl .control .shuffle {
	background: url(../../media/musicPlayer/images/media-shuffle.png) no-repeat center;
}

.slider {
	background-repeat: no-repeat;
	background-position: center background: rgba(0, 0, 0, 0.3);
	height: 5px;
	position: relative;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
}

.slider:hover a, .slider.enable a {
	opacity: 1;
}

.slider a {
	background: #fff;
	margin-left: -2.5px;
	position: absolute;
	opacity: 0;
	width: 5px;
	height: 5px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-khtml-border-radius: 50%;
	border-radius: 50%;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.slider .loaded, .slider .pace {
	position: absolute;
	height: 100%;
	opacity: 0.7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.slider .loaded {
	background: rgba(255, 255, 255, 0.1);
}

.slider .pace {
	background: #000;
}

#playlist {
	height:300px;
	overflow:auto;
	background: rgba(0, 0, 0, 0.5);
	width: 300px;
	margin: 0 auto 50px;
	padding: 10px 15px;
	list-style: none;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.playListBackground{
	height:300px;
	overflow:auto;
	background: rgba(0, 0, 0, 0.5);
	width: 300px;
	margin: 0 auto 50px;
	padding: 10px 15px;
	list-style: none;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

#playlist li {
	color: #aaa;
	font-size: 12px;
	line-height: 2;
	padding-left: 25px;
	cursor: pointer;
	text-overflow: ellipsis;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

#playlist li:hover {
	color: #fff;
}

#playlist li.playing {
	background: url(../../media/musicPlayer/images/meida-playing.png) no-repeat 0 center;
	color: #fff;
	font-weight: bold;
}

footer {
	position: relative;
	font-size: 12px;
	color: white;
	margin-top: 160px;
	text-shadow: 0 1px 2px #000;
	text-align: center;
}

footer a {
	color: #fff;
	font-weight: bold;
}

footer a:hover {
	text-decoration: none;
}

#div1 {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

#div1 img {
	height: 100%;
	width: 100%;
	border: 0;
}